@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 48, 16, 82;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  min-height: 100vh;
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600;
}

.gradient-bg {
  @apply bg-gradient-to-r from-purple-900 via-indigo-900 to-blue-900;
}

.neon-glow {
  text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 15px #ff00ff, 0 0 20px #ff00ff;
}

